.naglowek {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.koszyk {
    height: 150px;
    width: 150px;
}
.formularz {
    display: flex;
    flex-direction: column;
    align-items: center;
}