.formularz form {
    padding-left: 10%;
    padding-right: 10%;
    text-shadow: 2px 2px 5px #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(63, 63, 63);
    background-color: rgb(189, 209, 224);
    color: black;
    padding-bottom: 3%;
    max-width: 600px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.formularz input {
    min-width: 300px;
    min-height: 25px;
    max-width: 500px;
    border-radius: 20px;
    padding: 8px 10px 8px 10px;
}
.formularz p {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
.guzik {
    margin-top: 5%;
    width: 100%;
    height: 100%;
}
.formularz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background-color: rgb(255, 255, 255);
}
.back, .loguj{
    margin-bottom: 10px;
    text-align: left;
}
.back a, .loguj a{
    text-decoration: none;
    color: steelblue;
    font-weight: bold;
    font-size: 17px;
}