.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
div div {
    align-items: center;
}
li.hidden { 
    display: none; 
}
.widok {
    display: flex;
    flex-direction: row;
    justify-content: center;
}